vrrp_instance VI_1 {
    state MASTER
    interface ens3
    virtual_router_id 51
    priority 101
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1234
    }
    virtual_ipaddress {
        {{ hostvars[groups['proxy'][0]]['ansible_host'] }}/32 dev ens3
    }
}

virtual_server {{ hostvars[groups['proxy'][0]]['ansible_host'] }} 80 {
    delay_loop 6
    lb_algo rr
    lb_kind NAT
    persistence_timeout 50
    protocol TCP

    {% for host in groups['node'] %}
    {% if 'ansible_default_ipv4' in hostvars[host] %}
    real_server {{ hostvars[host]['ansible_default_ipv4']['address'] }} 80 {
        weight 1
        TCP_CHECK {
            connect_timeout 10
            retry 3
            delay_before_retry 3
        }
    }
    {% else %}
    # Handle the case where ansible_default_ipv4 is not present
    {% endif %}
    {% endfor %}
}
