Host bastion
  HostName 89.46.86.253
  User ubuntu
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.6
HostName 10.0.1.6
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.47
HostName 10.0.1.47
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.31
HostName 10.0.1.31
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.23
HostName 10.0.1.23
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.29
HostName 10.0.1.29
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

