Host bastion
  HostName 188.212.108.20
  User ubuntu
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.21
HostName 10.0.1.21
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.30
HostName 10.0.1.30
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.60
HostName 10.0.1.60
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.48
HostName 10.0.1.48
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.7
HostName 10.0.1.7
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

Host 10.0.1.25
HostName 10.0.1.25
  User ubuntu
  ProxyJump bastion
  IdentityFile ./id_rsa
  StrictHostKeyChecking no

